/*tietokoneen ruudulle*/
@media only screen and (min-width: 1025px) {

    /*logo kuvan määritykset*/
    #logo {
        width: 100%;
        max-width: 350px;
    }

    body {
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 10px;
    }

    nav a {
        align-content: center;
        background: #5b6d55;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #f2f2f2;
        text-decoration: none;
        display: inline-block;
        border: 2px solid #403c01;
        font-size: 18px;
        border-radius: 15px;
        padding: 10px 50px;
        margin: 5px 10px;
    }

    /*ota yhteyttä painike*/
    .toimintakehote {
        border: 2px solid #5b6d55;
        border-radius: 10px;
        background-color: #D9CF48;
        padding: 20px 100px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        color: #f2f2f2;
        font-size: 22px;
    }


}

/*tablettikoko*/
@media only screen and (min-width: 601px) and (max-width: 1024px) {

    /*logo kuvan määritykset*/
    #logo {
        width: 100%;
        max-width: 350px;
    }

    body {
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 10px;
    }

    nav a {
        align-content: center;
        background: #5b6d55;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #f2f2f2;
        text-decoration: none;
        display: inline-block;
        border: 2px solid #403c01;
        font-size: 18px;
        border-radius: 15px;
        padding: 10px;
        margin-right: 5px;
        margin-bottom: 10px;
    }

    /*ota yhteyttä painike*/
    .toimintakehote {
        border: 2px solid #5b6d55;
        border-radius: 10px;
        background-color: #D9CF48;
        padding: 20px 100px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        color: #f2f2f2;
        font-size: 22px;
    }


}

/*puhelinkoko*/
@media only screen and (max-width: 600px) {

    /*logo kuvan määritykset*/
    #logo {
        width: 100%;
        max-width: 300px;
    }

    body {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
    }

    /*navigaatioelementin määrityksiä*/
    nav {
        text-align: center;
    }

    nav a {
        background: #5b6d55;
        color: #f2f2f2;
        text-decoration: none;
        display: inline-block;
        border: 2px solid #403c01;
        font-size: 15px;
        border-radius: 10px;
        padding: 10px 5px;
        margin-bottom: 10px;

    }

    /*ota yhteyttä painike*/
    .toimintakehote {
        border: 2px solid #5b6d55;
        border-radius: 10px;
        background-color: #D9CF48;
        padding: 20px 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        color: #f2f2f2;
        font-size: 18px;
    }


}

/*päävalikon määritykset
nav a {
    align-content: center;
    background: #5b6d55;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f2f2f2;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #403c01;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
}*/


/*Yleiset määritykset body elementin sisällölle*/
body {
    color: #403c01;
    background-color: #f2f2f2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    p {
        font-size: 18px;
    }

    h1 {
        color: #403c01;
        font-size: 24px;
    }

    h2 {
        color: #403c01;
        font-size: 24px;
    }

    h3 {
        font-size: 24px;
    }
}



/*määritettyjen sisältöjen keskitys*/
.keskitys {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Linkki teksteissä, jossa ei ole aiemmin käyty */
.linkki:link {
    color: #403c01;
}

/* Linkki teksteissä, joissa on aiemmin käyty */
.linkki:visited {
    color: #5b6d55;
}

/* Linkki teksteissä, kun hiiri on sen päällä */
.linkki:hover {
    color: #D9CF48;
}


/*päävalikossa painikkeen värin muutos hiiren alla*/
nav a:hover {
    color: #5b6d55;
    background-color: #f2f2f2;
}

/*päävalikossa vaihtuu väri sen mukaan millä sivulla ollaan*/
#valittu {
    color: #5b6d55;
    background-color: #f2f2f2;
}


/*ota yhteyttä painikkeen värin muutos hiiren alla*/
.toimintakehote:hover {
    background-color: #f2f2f2;
    color: #403c01;
}

/*reunojen määritykset halutuille kuville*/
figure {
    border: 8px #5b6d55 solid;
    color: #f2f2f2;
    margin: auto;
    border-radius: 0px;

}

/*kuvatekstien määritykset halutuille kuville*/
figcaption {
    background-color: #5b6d55;
    color: #f2f2f2;
    padding: 6px;
    text-align: center;
    margin-top: -4px;

}

/*listojen määrityksiä*/
ul {
    font-size: 18px;
}

/*index.html sivulla oleva kuva*/
#aloituskuva {
    width: 100%;
    max-width: 1200px;
}


/*peltikatonmaalaus.html sivun elementtien asettelua*/
.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    /* Kaki saraketta, muuta miten haluat */
    column-gap: 10px;
    /*sarakkeiden väli*/
    row-gap: 20px;
    /*rivien välit sarakkeiden sisällä*/
}

/*peltikatonmaalaus.html sivun kuvien asettelua*/
#esimerkkikuvat {
    width: 100%;
    max-width: 600px;
}

/*yhteydenotto.html lomakkeen määrityksiä*/
form {
    width: 60%;
    /* Määrittele lomakkeen leveys prosentteina tai pikseleinä */
    padding: 20px;
    /* Lisää sisennystä lomakkeen ympärille */


    label {
        font-weight: bold;
        /* Lisää lihavointia kentän nimelle */
    }
}

/*yhteydenotto.html lomakkeen tekstikenttien määrityksiä*/
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 2px solid #5b6d55;
    resize: vertical;
}

/*yhteydenotto.html sivun lomakeen napin määrityksiä*/
input[type="submit"] {
    background-color: #D9CF48;
    color: #f2f2f2;
    padding: 15px 30px;
    border: 2px solid #5b6d55;
    border-radius: 10px;
    cursor: pointer;
    color: #f2f2f2;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #f2f2f2;
    color: #403c01;
    border: 2px solid #5b6d55;
}





/*alatunniste*/
footer {
    background-color: #5b6d55;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 0px;
    color: #f2f2f2;

    .sahkoposti {
        color: #f2f2f2
    }
}